.main-nav {
  width: 100%;
  text-align: center;
  top: 0;
  right: 0;
  background-color: $grey;

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 80%;
  }
}

.main-nav__button {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
