.page-form__wrapper {
  width: 320px;
  height: 462px;
  background-image: url("../../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-form__slogan {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
}
