.page-form__wrapper {
  background-color: $dark-grey;
  min-height: 400px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.page-form__slogan {
  @include page-slogan;
  margin: 0 auto 100px auto;
  padding: 50px 0 0 0;
  text-align: center;
  width: 200px;

  @media (min-width: $tablet-width) {
    min-width: 400px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    min-width: 780px;
    padding-top: 150px;
  }
}

.page-form__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
  }
}

.page-form__title--addition {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
