.users-tape {
  background-color: $white;
}

.users-tape__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.users-tape__item {
  background-color: $white-grey;
  padding: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    &:first-child {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      grid-column: 1 / 4;
      grid-row: 1;
    }
  }
}

.users-tape__link {
  margin: 0;
  padding: 0;
}

.users-tape__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin: 54px 0 60px 0;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.users-tape__user {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: $black;
}

.users-tape__time-post {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  color: $grey;
}

.users-tape__comment {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.users-tape__like {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  color: $red;
}

.users-tape__photo {
  margin: 0 0 25px 0;
  padding: 0;
}
