//Colors

$black: #000000;
$white: #ffffff;
$grey: #283645;
$dark-grey: #1D2631;
$white-grey: #F2F2F2;
$red: #D22856;

//Viewports

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;
